<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Title - {{film.title}}</h1>
    <p>Episode ID - {{ film.episode_id }}</p>
    <p>{{ film.opening_crawl }}</p>
    <p>Director - {{ film.director }}</p>
    <p>Producer(s) - {{ film.producer }}</p>
    <p>Release Date - {{ film.release_date }}</p>
  </div>
</ion-content>
